@media (max-width: 600px) {
   form {
      width: 80%;
      margin: 30px auto;
      padding: 5px;
   }
}

form {
   text-align: center;
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 10px;
   background-color: #f8f9fa;
   border: 1px solid #28b485;
   box-shadow: 0 0 5px #28b485;
}

label {
   text-align: left;
   width: 100%;
   margin-bottom: 10px;
}

h2 {
   background: linear-gradient(to right, #a2c99b, #5dcfa9);
   /* background-color: #ddd; */
   padding: 10px 20px;
   border-radius: 20px;
   text-align: center;
   /* margin-top: 50px;
*/
}